data/toy-ende/tgt-train.txt filter=lfs diff=lfs merge=lfs -text
data/toy-ende/tgt-val.txt filter=lfs diff=lfs merge=lfs -text
data/toy-ende filter=lfs diff=lfs merge=lfs -text
data/toy-ende/run/example.vocab.src filter=lfs diff=lfs merge=lfs -text
data/toy-ende/run/example.vocab.tgt filter=lfs diff=lfs merge=lfs -text
data/toy-ende/src-test.txt filter=lfs diff=lfs merge=lfs -text
data/toy-ende/src-val.txt filter=lfs diff=lfs merge=lfs -text
data/toy-ende/run filter=lfs diff=lfs merge=lfs -text
data/toy-ende/src-train.txt filter=lfs diff=lfs merge=lfs -text
data/toy-ende/tgt-test.txt filter=lfs diff=lfs merge=lfs -text
